<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Web App</title>
	<link rel="stylesheet" href="bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>
<blockquote>
  <p>ReverseAndro</p>
  <small>By <cite title="Akash">Akash Ranjan</cite></small>
</blockquote>
	<div class="container">
	<div class="panel panel-default custom_ak">
	<form action="/uploadSuccess/" method="POST" enctype="multipart/form-data">
  		<div class="panel-heading">Upload Your Apk</div>
  		<div class="panel-body">
  			<input type="file" value="Upload" name="uploadFile"><br>
  			<input type="submit" class="btn btn-info" value="Upload">
  		</div>
  	</form>
	</div>
	</div>
</body>
</html>