<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Web App</title>
	<link rel="stylesheet" href="bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>
<blockquote>
  <p>ReverseAndro</p>
  <small>By <cite title="Akash">Akash Ranjan</cite></small>
</blockquote>
	<div class="container">
	<div class="panel panel-default custom_ak">
  		<div class="panel-heading">Thank You!!</div>
  		<div class="panel-body">
  		 <div class="panel-body">
    		Login Sucess {{ ip }}
  		</div>
    		<a href="#" class="btn btn-info">Upload Another</a><br><br><a href="#" class="btn btn-info">View Permissions</a>
  		</div>
	</div>
	</div>
</body>
</html>